@page "/settings"
@attribute [Authorize(Roles = "Admin")]

<h3>Configuration</h3>

<RadzenTabs>
	<Tabs>
		<RadzenTabsItem Text="Config">
			<ConfigBankComponent />
		</RadzenTabsItem>

		<RadzenTabsItem Text="Comptes">
			<ConfigCompteComponent />
		</RadzenTabsItem>

		<RadzenTabsItem Text="Budgets">
			<ConfigBudgetComponent />
		</RadzenTabsItem>

		<RadzenTabsItem Text="Transactions">
			<ConfigTransactionComponent />
		</RadzenTabsItem>
	</Tabs>
</RadzenTabs>

@code {

}
