@page "/"
@inject IHomePage ViewModel

<PageTitle>Accueil</PageTitle>

@if (ViewModel.IsLoaded)
{
    @if(ViewModel.HasConfig)
    {
        <h1>Résumé</h1>
    
    
    }
    else
    {
        <h1>Attention</h1>
    
        <div>Aucun compte par défaut configuré.</div>
        <div>Connectez vous, et configurer un compte par défaut et le mois/année de traitement.</div>
    }
}
else
{
    <div>Chargement du résumé en cours...</div>
}

@code{
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.InitData();
    }
}